<tr>
    <td align="center"
        style="text-align: center; font-size: 11px; color: #2B2D42; font-weight: 400; font-family: Verdana, Arial, Helvetica sans-serif">
        Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.
    </td>
</tr>
<tr>
    <td align="center"
        style="text-align: center; font-size: 11px; color: #2B2D42; font-weight: 400; font-family: Verdana, Arial, Helvetica sans-serif">
        <a href="$unsubscribe_url" style="color: #40437c">Ne plus recevoir d'emails
            d'insa-utils.fr</a>
    </td>
</tr>
