@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif+Ethiopic:wght@800&display=swap')

family = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

html
  // For the scroll inertia to take the background color of the html
  min-height: 100%;

body
  box-sizing border-box
  margin 0
  font-weight 500
  font-family family

  #__nuxt > div
    min-height 100vh
    display flex
    flex-direction column
    justify-content stretch

h1, h2, h3, h4, h5, h6, p
  margin: 0
  font-family: family
  font-weight: 500
  color: var(--text-color)

a, a:visited
  color: var(--cyan-800)
  text-decoration: none


